/* this is to import the font (satisfy) from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#FFF3EE;
    text-align:center;
    font-family:Satisfy,cursive;
}

/* this is for my heading*/
h1{
    font-family:Satisfy,cursive;
    font-size:70px;
    margin-top:40px;
    color:#6a4d4d;
}
/* this is to make my link blend in*/
a{
    text-decoration:none;
    color:inherit
}
/* this is for my subheading*/
p{
    font-family:Satisfy,cursive;
    color:#e670a5b3;
    font-size:22px; 
    
}
/* bg  txts*/
.bgtxt{
    font-family:Satisfy,cursive;
    font-size:14px;
    color:#ec7d7d;
    position:absolute;
    top:70px;
    right:50px;
    transform: rotate(-5deg);

}
 .bgtxt2{
    font-family:Satisfy,cursive;
    font-size:19px;
    color:#9c2626;
    position:absolute;
    top:2000px;
    left:460px;
    transform:rotate(-7deg)
 }
/* bird in the bg */
.bgtxt3{
    font-size:35px;
    position:absolute;
    top:273px;;
    left:389px;
    transform:rotate(+12deg);
    transition:0.4s
}
/* this is make the 1st bird move */ 
.bgtxt3:hover{
    transform:translateY(+9px)
}


 /* this is to go back to the indexpage*/
 .gobox{
    font-family:Satisfy,cursive;
    font-size:18px;
    color:#6a4d4d;
    width:80px;
    height:60px;
    position:relative;
    margin:-95px 54px;
    border: 4px solid #9a6e6e;
    border-radius:15px;
   box-shadow:0 4px 10px rgba(255, 252, 250, 0.35);
   background-color:#f6d1d1;
   transform:rotate(-13deg);
   text-align:center;
  
 }
.gobox:hover{
    transform:translateY(-7px);
}
.gobox::before{
    content:"";
    display:block;
    width:40px;
    height:13px;
    background-color:rgba(255, 252, 250, 0.65);
   position:absolute;
   top: -5px;
   left:26px
}

/* this is the main big box showiong the data */
.memory {
    width: 873px;
    height: 1250px;
    background-color:#f6d1d1;
    border: 12px double #a88383;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(106, 77, 77, 0.20);
    color: #6a4d4d;
    position:absolute;
    top:690px;
    left:179px;

}

#memory-title {
    font-size: 30px;
    color: #9d4a4a;
    margin-top: 10px;
}

#memory-body {
    font-family: Satisfy, cursive;
    font-size: 23px;
    margin-top:33px;
    color:#452b2b
}

/* this for u go listen the music*/
.musicbox{
   position: absolute;
    top: 339px;;
    left: 190px;
    width: 245px;
    height: 230px;
    padding: 25px;
    background-color: #f6d1d1;
    border: 6px dashed #ef9191;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(90, 65, 65, 0.40);
    text-align: center;
    transform:rotate(-6deg)
}

.musicbox:hover{
    transform:translate(-6px)
}

/* this is the heading in the music box */
.musicbox h3 {
    font-family: Satisfy, cursive;
    font-size: 20px;
    color: #6a4d4d;
    margin-top: -10px;
}

/* these are the music buttons */
.musicbox button {
    border: 2px solid  #a88383;
    border-radius: 15px;
    background-color: #FFFCFA;
    color: #5A4141;
    font-family: Satisfy, cursive;
    font-size: 18px;
    padding: 8px 14px;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
}

/* to move the music button when they are touched */
.musicbox button:hover {
    background-color: #f8edeb;
}

.musicbox::before{
    content:"";
    display:block;
    width:120px;
    height:24px;
    background-color:rgba(255, 252, 250, 0.65);
   position:absolute;
   top: -18px;
   left:96px
}
/* i didnt want the date in the same one so yea i made this new box */
.memorydate{
    width: 190px;
    height: 80px;
    background-color:#f4dcdc;
    border: 4px dashed #ef9191;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(106, 77, 77, 0.20);
    position:relative;
    margin:520px 780px;
    transition:0.2s;
    transform:rotate(-7deg)
    
}
#memory-date{
    font-family:Satisfy,cursive;
    font-size:27px;
    color:#4e894e;
    margin-top:22px
}

/* this is to add tape */
.memorydate::before{
    content:"";
    display:block;
    width:120px;
    height:24px;
    background-color:rgba(255, 252, 250, 0.65);
   position:absolute;
   top: -18px;
   left:35px
}
/* this is to move it */
.memorydate:hover{
    transform:translate(-7px)
}