/* this is to add the font i want in our website*/
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/*this for reset of the default css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-size:66px;
    font-family:Satisfy,cursive;
    color:#6a4d4d;
    text-align:center;
    margin-top:35px;
}
/* this to add bg colour in our main bg */
body{
   background-color:#FFF3EE;
}

p{
    font-family: Satisfy,cursive;
    color:#B97878;
    text-align:center;
    font-size:20px;
}
a{
    text-decoration:none;
    color:inherit
}

/* this is to go back to the index page */
.abox {
    width:68px;
    min-height:58px;
    background-color: #ffd7d7;
    border-radius:4px;
    box-shadow: 0 4px 10px rgba(90, 65, 65, 0.30);
    top:12%;
    left:5%;
    border:5px solid  #a88383;
    border-radius:20px;
    position:absolute;
    transition:0.3s;
    transform: rotate(-12deg);
    font-size:17px;
    color: #5A4141;
    text-align:center;
    font-family: Satisfy,cursive

}
/* this is to hover our go back button */
.abox:hover{
    transform:translateY(-6px)
}
/* this is the outside txt box */
.tbox {
    width:200px;
    min-height:80px;
    background-color: #f6d1d1;
    border-radius:4px;
    box-shadow: 0 4px 10px rgba(90, 65, 65, 0.35);
    top:40%;
    left:70%;
    border:3px solid  #a88383;
    border-radius:20px;
    position:absolute;
    color: #7a5959;
    text-align:center;
    transition:0.4s;
    transform: rotate(+5deg);
}
/* this is to hover the date box */
 .tbox:hover{
    transform:translate(-15px);
 }   

/* this is to input date */
.tbox input {
    width: 160px;
    height: 40px;
    margin: 16px auto;
    padding: 10px 15px;
    border: 2px solid #a88383;
    border-radius: 15px;
    background-color: #FFFCFA;
    font-family: Satisfy, cursive;
    font-size: 17px;
    color: #7a5959;
    outline: none;
    text-align: center;
}
/* this makes the tbox move */
.tbox button:hover{
   background-color:#a88383
}    

/* this is to give  scrapbook vibe basically to make it look like a tape is holding it */
.tape {
    width: 100px;
    height: 22px;
    background-color: rgba(255, 252, 250, 0.75);
    position: absolute;
    top: -10px;
    left: 50px;
    transform: rotate(-4deg);
    border-radius:4px;
}
/* this the to write inside our sbox */
.sbox input {
    width: 670px;
    height: 50px;
    padding: 10px 15px;
    top:11px;
    left:18px;
    border:2px solid  #a88383;
    border-radius:20px;
    position:absolute;
    background-color: #FFFCFA;
    font-family: Satisfy, cursive;
    box-shadow: 0 4px 10px rgba(90, 65, 65, 0.35);
    font-size: 26px;
    color: #7a5959;
    outline: none;
    text-align: center;
    
}
/* this is to write the title/ main highlight of the day */
.sbox{
    position:absolute;
    top:65%;
    left:22%;
    width: 700px;
    min-height: 80px;
    border:3px solid #a88383;
    border-radius:20px;
    background-color: #f6d1d1
}
/* this is the bodybox to write the main writing */
.bodybox{
    position:absolute;
    top:165%;
    left:20%;
    width: 760px;
    min-height: 630px;
    border:3px solid #a88383;
    border-radius:20px;
    background-color: #f6d1d1;
    box-shadow: 0 4px 10px rgba(90, 65, 65, 0.65)
}
/* this is the white text area inside our bodybox */
.bodybox textarea {
    width: 720px;
    min-height: 580px;
    padding: 10px 15px;
    top:20px;
    left:17px;
    border:2px solid #a88383;
    border-radius:20px;
    position:absolute;
    background-color:  #FFFCFA;
    font-family: Satisfy, cursive;
    font-size: 24px;
    color: #7a5959;
    outline: none;
    text-align: center;
    resize:none
}

/* this is to store the uploaded photo */
.photobox {
    position: absolute;
    width: 250px;
    min-height: 200px;
    margin-top: 15px;
    border: 4px dashed #EFA3A3;
    border-radius: 20px;
    background-color: #FFFCFA;
    top:105%;
    left:25%;
    transform:rotate(-5deg);
    transition:0.2s;
    box-shadow: 0 4px 10px rgba(90, 65, 65, 0.30)
}

/* this is to make sure the uploaded photo doesnot cover the whole screen */
#imgpreview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

/* this is the button that is used to remove the photo that is uploaded */
#removeimg {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50%;
    background-color: #b78e8e;
    color: #FFFCFA;
    cursor: pointer;
}

/* this is the button/box to add photos to our photobox */
 .orgphoto{
    position:absolute;
    top:90%;
    left:28%;
    font-family:Satisfy,cursive;
    font-size:17px;
    border: 2px dotted #EFA3A3;
    background-color: #fdece9 ;
    border-radius: 15px;
    width:200px;
    min-height:36px;
    text-align: center;
    font-family: Satisfy,cursive;
    color:#5A4141;
    box-shadow: 0 4px 10px rgba(90, 65, 65, 0.30)
 /* this is to make the photbox moves */
 }
 .photobox:hover{
    transform:translate(-6px)
 }

/* this is the save button at the end that will send the data to our katch */
#savebutton{
    width: 200px;
    min-height: 50px;
    border: none;
    border-radius: 18px;
    background-color: #7d5c5c;
    color: #FFFCFA;
    font-family: Satisfy, cursive;
    font-size: 30px;
    cursor: pointer;
    position:absolute;
    top:290%;
    left:42%;
    margin-top: 15px;
    transition:0.4s
} 

/* this is to change the colour of our save button */
#savebutton:hover{
    background-color: #b08585
}
/* this is the bgtxt near the photo the user will upload */
.bgtxt1{
    font-size:17px;
    font-family:Satisfy,cursive;
    position:absolute;
    top:103%;
    left:20%;
    color:#5A4141;
    transform:rotate(-12deg)
}

/* this is the bgtxt near the save button */
.bgtxt2{
    font-size:20px;
    font-family:Satisfy,cursive;
    position:absolute;
    top:303%;
    left:60%;
    color:#926262;
    transform:rotate(-7deg)
}

/* this for our 3rd bgtext near our bodybox */
.bgtxt3{
    font-size:14px;
    font-family:Satisfy,cursive;
    position:absolute;
    top:159%;
    left:70%;
    color:#b35b5b;
    transform:rotate(-3deg)
}

/*this is the 1st bg sticker that */
.bgtxt4{
    font-size:35px;
    position:absolute;
    top:32%;
    left:89%;
    transform:rotate(+12deg);
    transition:0.4s
/* this is make the 1st bird move */ 
}
.bgtxt4:hover{
    transform:translateY(+9px)
/* this is for our 2nd bird */
}
.bgtxt5{
    font-size:30px;
    position:absolute;
    top:155%;
    left:19%;
    transform:rotate(-360deg);
    transition:0.4s
}
/* this is to make the 2nd bird move */
.bgtxt5:hover{
    transform:translateY(+9px)
}